*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
html{
scroll-behavior: smooth;
}
body{
font-family: "Poppins", serif;
font-size: 12px;
}
a{
text-decoration: none;
}
button{
border: none;
background: none;
}
img{
width: 100%;
height: 100%;
object-fit: cover;
display: block;
}
.section{
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}
/* goals */
.goals-section{
  padding: 30px 15px;
}
.goals-h{
  color: #011E6C;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
}


.goal-icon{
  background: #f2f4fc;
  padding: 7px;
  border-radius: 50%;
  display: inline-block;
}
.goal-icon i{
  display: inline-block;
  background: #011E6C;
  color: white;
  padding: 10px;
  border-radius: 50%;
}

.goal-content{
  display: grid;
  gap: 1rem;
  padding: 40px 0;
  position: relative;
}

.goal-content h4{
  font-size: 1.5rem;
  font-weight: 500;
}
.goal-content h5{
  font-size: 1.1rem;
  font-weight: 400;
  color: #1F2438;
}
.goal-content p{
  font-size: 14px;
  color: grey;
}
.goal-divider{
  width: 80%;
  height: .1rem;
  display: none;
  background: #011e6c89;
  position: absolute;
  top: 40%;
  left: 10%;
  right: 10%;
}
.goal{
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
}
/* trump pay */
.trumpPay-container{
  background: #011E6C;
}
.trumpPay-section{
  padding: 30px 15px;
  display: grid;
  gap: 2rem;
}
.trumppay-top{
  background: white;
  padding: 15px;
  border-radius: 10px;
  display: grid;
  gap: .5rem;
  padding-bottom: 30px;

}
.trumppay-top article{
  text-align: center;
}
.trumppay-top >article{
  justify-self: center;
}
.trumppay-top >div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.coin-container{
  max-width: 80px;
  margin-bottom: -2rem;
  transform: skew(10deg);
}
.coin-container img{
  object-fit: contain;
}
.trumppay-top h2{
  font-size: 1rem;
  font-weight: 500;
}
.trumppay-top p{
  transform: rotateZ(-5deg);
  font-size: 12px;
  padding: 10px 5px;
  color: white;
  background-color: #FFE53B;
background-image: linear-gradient(147deg, #ffe53bd0 0%, #ff2525b5 74%);

}
.trumppay-bottom{
  font-size: 13px;
  color: white;
  display: grid;
  gap: 1rem;
}
.trumppay-bottom h3{
  font-size: 1.5rem;
  font-weight: 500;
}
.trumppay-bottom p{
  font-weight: 300;
}
.trumppay-bottom span{
  font-weight: 600;
  font-size: 16px;
}
.curve{
  width: 100%;
}
.curve:first-child{
  margin-bottom: -2px;
}
/* offer section */
.offer-container{
  background: url('./Assets/building-bg.jpg') center/cover;
  background-repeat: no-repeat;
  
}
.offer-overlay{
  background: #fffffff0;
}
.offer-section{
  padding: 15px 30px;
  display: grid;
  gap: 1.5rem;
  position: relative;
}
.offer-triangle-bg{
   display: none;
  position: absolute;
  bottom: 0%;
  right: 0;
  height: 100%;
  z-index: 10;
  
}
.offer-content{
  display: grid;
  gap: 1.5rem;
  z-index: 100;

}
.offer-content h3{
  font-size: 1.5rem;
  color: #011E6C;
  font-weight: 600;
}
.offer-content h2{
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;

}
.offer-content h2 span{
  color: #011E6C;
  font-weight: 600;
}
.offer-content p{
  font-size: 14px;
  color: #2c2c2c;
}
.create-btn{
  background: #011E6C;
  color: white;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  padding: 15px 30px;
  border-radius: 25px;
  max-width: fit-content;
  cursor: pointer;
  display: inline-block;
}
.offer-img{
  width: 100%;
  z-index: 100;
}
.offer-img img{
  aspect-ratio: 16/9;
}

/* form */
.form-container{
  background: #011E6C;
}
.form-section{
  padding: 30px 15px;
  color: white;
  display: grid;
  gap: 1.5rem;
  justify-content: center;
  padding-bottom: 0;
}
.form-warning{
  text-align: center;
font-size: 1.2rem;
font-weight: 400;
}
.registration-form{
display: grid;
gap: 1rem;
padding: 30px;
background: #202B3F;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
max-width: 400px;
justify-self: center;
}
.registration-form input{
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 10px;
  border: 1px solid transparent;
}
.registration-form input:focus,.registration-form select:focus{
  outline: none;
}
.register-btn{
  background: #14A644;
  padding: 10px 15px;
  text-align: center;
  width: 100%;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
}
.registration-form fieldset{
  border: none;
  background: white;
  display: flex;
  border-radius: 10px;
}
.registration-form select{
  border: none;
  border-radius: 10px;
}
/* legal info */
.legal-container{
  background: #EEEEEE;
}
.legal-section{
  padding: 30px 15px;
}
.legal-h{
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.legal-cards{
  display: grid;
  gap: 2rem;
}
.legal-cards article{
  display: grid;
  gap: 1rem;
  align-content: flex-start;
  background: white;
  padding: 20px;
  border-radius: 15px;
}
.legal-cards h4{
  color: #1F2438;
  font-size: 1.2rem;
  font-weight: 500;
}
.legal-cards p{
  color: gray;
  font-size: 14px;
}
.legal-img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #000;
  overflow: hidden;
  margin-bottom: 1rem;
}
/* announcement */
.announcement-container{
  background: #273238;
}
.announcement-section{
  max-width: 700px;
  padding: 30px 15px;
  padding-bottom: 0;
  display: grid;
  gap: 3rem;
}
.announcement-text{
  color: white;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
}
.announcement-form{
  display: grid;
  gap: 1rem;
  max-width: 350px;
  justify-self: center;
}
.announcement-form input{
  padding: 10px 30px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid transparent;
}
.announcement-form input:focus{
  outline: none;
}

/* about section */
.about-section{
  display: grid;
  gap: 1rem;
  padding: 30px 15px;
  max-width: 700px;
  position: relative;
}
.about-triangle-bg{
  
  position: absolute;
  bottom: 20%;
  right: 0;
  height: 50%;
  z-index: 10;
}
.about-dotted-bg{
  display: none;
  position: absolute;
  top: 10%;
  right: 30%;
  height: 200px;
  z-index: 10;
}

.about-content{
display: grid;
gap: 1rem;
z-index: 100;
}
.about-h3{
  color: #011E6C;
  font-size: 1.2rem;
  font-weight: 600;
}
.about-h2{
  color: #1F2438;
  font-size: 1.6rem;
  font-weight: 600;
}
.about-text{
  color: #9D9FA7;
  font-size: 13px;
}
.stats-container{
  background: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  z-index: 100;
}
.stat-item{
  text-align: center;
  color: #9D9FA7;
  padding: 10px;
}
.stat-item:first-child{
  border-right: 2px solid #9d9fa723;
  border-bottom: 2px solid #9d9fa723;
}
.stat-item:nth-child(3){
  border-right: 2px solid #9d9fa723;
}
.stat-item:nth-child(2){
  border-bottom: 2px solid #9d9fa723;
}

.stat-number{
  font-size: 15px;
}
.stat-label{
  font-size: 13px;
}

/* investment */
.invest-section{
  padding: 30px 15px;
  max-width: 700px;
  display: grid;
  gap: 2rem;
}
.invest-h{
  font-size: 1.4rem;
  text-align: center;
  color: #1F2438;
}
.invest-card{
  display: grid;
  gap: 1rem;
  text-align: center;
}
.invest-img{
  max-width: 250px;
  margin: 0 auto;
}
.invest-img img{
  object-fit: contain;

}
.invest-content{
  display: grid;
  gap: 1rem;
}
.invest-content h3{
  color: #1F2438;
  font-size: 1rem;
  font-weight: 600;
}
.invest-content p{
  color: #9D9FA7;
  font-size: 13px;
}
/* crypto */
.crypto-section{
padding: 30px 15px;
display: grid;
gap: 1rem;
}
.crypto-img img{
  object-fit: contain;
}
.crypto-content{
  display: grid;
  gap: 1rem;
}
.crypto-label{
  font-size: 16px;
  color: #1F2438;
}
.crypto-h{
  font-size: 1.5rem;
  color: #1F2438;
}
.crypto-content .text{
font-size: 14px;
color: #858585;
}
/* cta */
.cta-container{
  padding: 30px;
}
.cta-bg{
  background: url('./Assets/cta-bg.jpeg') center/cover no-repeat;
  color: white;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  overflow: hidden;
}
.cta-bg-overlay{
  background: #0000005d;
}
.cta-section{
  padding: 30px 15px;
  display: grid;
  justify-content: center;
  gap: 1rem;
}
.cta-section p{
  font-size: 14px;
  text-align: center;
}
.cta-h{
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}
.cta-section a{
  margin: 0 auto;
}

@media screen and (min-width:768px) {
  .goals-section{
    padding:  40px;
  }
  .goal-content{
    grid-template-columns: repeat(3,1fr);
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    max-width: 700px;
    margin: 2rem auto;
  }
  .goal{
    flex-direction: column;
    text-align: center;
  }
  .goals-h{
    font-size: 2rem;
  }
  .goal-divider{
    display: block;
    z-index: 100;
  }
  .goal-icon{
    padding: 15px;
    z-index: 200;
  }
  .goal-icon i{
    font-size: 1.5rem;
  }
  .trumpPay-section{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    padding: 20px 40px;
  }
  .trumppay-top{
    align-self: center;
  }
  .trumppay-bottom h3{
    font-size: 2rem;
  }
  .trumppay-bottom{
    font-size: 15px;
  }
  .offer-section{
    padding: 40px;
    display: flex;
    gap: 5rem;
    align-items: center;
  }
  .offer-triangle-bg{
    display: block;
  }
  .form-section{
    padding: 40px;
    padding-bottom: 0;
  }
  .form-warning{
    text-align: left;
    padding: 30px;
  }
  .form-section{
    display: flex;
    align-items: center;
  }
  .legal-section{
    padding: 40px;
    max-width: 700px;
  }
  .legal-h{
    font-size: 1.5rem;
  }
  .legal-cards{
    grid-template-columns: 1fr 1fr;
  }
  .announcement-section{
    padding: 40px;
    padding-bottom: 0;
  }
  .about-section{
    padding: 40px;
    grid-template-columns: 1fr 1fr;
  }
  .about-dotted-bg{
    display: block;}
  .stats-container{
    align-self: flex-start;
  }
  .invest-section{
    padding: 40px;
    gap: 3rem;
  }
  .invest-card{
    grid-template-columns: 1fr 1fr;
    align-items: start;
    text-align: left;
  }
  .invest-img{
    align-self: center;
    
  }
  .invest-card:nth-child(odd) .invest-img{
    order: 2;
  }
  .invest-card:nth-child(odd) .invest-content{
    order: 1;
  }
  .crypto-section{
    padding: 40px;
    grid-template-columns: 40% 1fr;
    gap: 2rem;
  }
  .cta-section p{
    font-size: 16px;
    text-align: left;
    padding-left: 30px;
  }
  .cta-h{
    font-size: 1.2rem;
  }
}
